body {
  background: #2F2F2D;
  font-family: avenir;
  margin: 0;
  padding: 0 15%;
}

header {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 100px 0 50px 0;
}

main {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px 50px;
}

.no {
  background-color: #b90009;
  border-radius: 50%;
  color: white;
  height: 25px;
  line-height: 1.7;
  text-align: center;
  width: 25px;
}

.sqr {
  background-color: #FFCDA2;
  height: 25px;
  text-align: center;
  width: 25px;
}

.sqr.black {
  background-color: #D78A4E;
}

.row {
  display: flex;
}

.board {
  margin: 15px 0;
}

.tip {
  display: inline-block;
  margin: 0 5px;
}

.tips {
  color: grey;
  text-align: center;
  width: calc(25px * 8);
}

.board-set {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 20px 50px 20px;
}

footer {
  color: rgba(255, 255, 255, .5);
  font-size: 14px;
  margin: 50px 0;
  text-align: center;
}

footer a {
  color: rgba(255, 255, 255, .5);
  text-decoration: none;
}

footer a:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  main {
    padding: 50px 20px 20px 20px;
  }
}
