* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181111;
  font-family: avenir, sans-serif;
}

header {
  color: white;
  padding: 120px 20vw;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  color: rgba(white, .75);
  margin-top: 12px;
}

main {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 70px;
  margin: 0 15vw;
}


.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.board {
  width: 240px;

  &.last-of-type {
    margin-bottom: 0;
  }
}

.pending {
  color: gray;
  margin-bottom: 40px;
}

.board-set-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.ans-no {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 1px 7px;
  margin-left: 30px;
  margin-bottom: 10px;
  background-color: pink;
  border-radius: 50%;
}

.coord {
  align-items: center;
  color: gray;
  display: flex;
  justify-content: center;
  height: 30.5px;
  width: 30.5px;
}

.top-ruler {
  display: flex;
}

.left-ruler {
  display: flex;
  flex-direction: column;
}

.bottom-ruler-board {
  display: flex;
}

.row {
  display: flex;
  width: 247px;
}

.spot {
  align-items: center;
  background-color: #FFCDA2;
  display: flex;
  font-size: 18px;
  line-height: 18px;
  height: 30px;
  justify-content: center;
  width: 30px;

  &.gray {
    background-color: #D78A4E;
  }
}

.queen {
  cursor: pointer;

  &:hover,
  &.hl {
    color: red;
  }
}

.coord-list {
  padding-left: 30px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.coord-list-inner {
  display: flex;
  flex-wrap: wrap;
  width: 190px;
}

.coord-tip {
  background-color: rgba(gray, .25);
  margin: 0 5px 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 5px;

  &:hover,
  &.hl {
    background-color: red;
    color: white;
  }
}
